:root { font-size: 16px; }

.container {
  margin: 0 45px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  .container__header {
    font-size: 3rem;

  }
  .container__input {
    padding: 5px;
    font-size: 1.4rem;
  }
  .container__button {
    padding: 5px 10px;
    font-size: 1.4rem;
    border: 1px solid black;
    background-color: transparent;
  }
  .container__subheader {
    font-size: 2.6rem;
  }
  .container__list {
    margin: 0 auto;
    max-width: 900px;
    list-style-type: none;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: justify;
  }
  li:nth-of-type(2n+1) {
    background-color: antiquewhite;
  }
}

.footer__content {
  text-align: center;
  font-size: 1.5rem;
  color: darkgray;
}